Loading the Data Set and importing

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [4]:
df = pd.read_csv("Nike_Sales_Uncleaned.csv")

In [5]:
df.head()

,Order_ID,Gender_Category,Product_Line,Product_Name,Size,Units_Sold,MRP,Discount_Applied,Revenue,Order_Date,Sales_Channel,Region,Profit
0,2000,Kids,Training,SuperRep Go,M,NaN,NaN,0.47,0.0,2024-03-09,Online,bengaluru,-770.45
1,2001,Women,Soccer,Tiempo Legend,M,3.0,4957.93,NaN,0.0,2024-07-09,Retail,Hyd,-112.53
2,2002,Women,Soccer,Premier III,M,4.0,NaN,NaN,0.0,NaN,Retail,Mumbai,3337.34
3,2003,Kids,Lifestyle,Blazer Mid,L,NaN,9673.57,NaN,0.0,04-10-2024,Online,Pune,3376.85
4,2004,Kids,Running,React Infinity,XL,NaN,NaN,NaN,0.0,2024/09/12,Retail,Delhi,187.89

In [6]:
df.describe()

,Order_ID,Units_Sold,MRP,Discount_Applied,Revenue,Profit
count,2500.000000,1265.000000,1246.000000,832.000000,2500.000000,2500.000000
mean,3194.352400,1.482213,6039.863395,0.631022,274.873716,1376.012848
std,749.972638,1.696947,2315.746826,0.365500,2023.773550,1478.671013
min,2000.000000,-1.000000,2006.630000,0.000000,-7561.590000,-1199.450000
25%,2534.750000,0.000000,4038.902500,0.320000,0.000000,93.532500
50%,3192.500000,2.000000,6110.030000,0.615000,0.000000,1371.385000
75%,3841.250000,3.000000,8022.187500,0.962500,0.000000,2660.645000
max,4499.000000,4.000000,9996.220000,1.250000,37169.350000,3999.210000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order_ID          2500 non-null   int64
 1   Gender_Category   2500 non-null   object
 2   Product_Line      2500 non-null   object
 3   Product_Name      2500 non-null   object
 4   Size              1990 non-null   object
 5   Units_Sold        1265 non-null   float64
 6   MRP               1246 non-null   float64
 7   Discount_Applied  832 non-null    float64
 8   Revenue           2500 non-null   float64
 9   Order_Date        1884 non-null   object
 10  Sales_Channel     2500 non-null   object
 11  Region            2500 non-null   object
 12  Profit            2500 non-null   float64
dtypes: float64(5), int64(1), object(7)
memory usage: 254.0+ KB

In [8]:
df.columns = df.columns.str.strip().str.replace(" ", "_")

Changeing Order Date

In [10]:
df['Order_Date'] = pd.to_datetime(df['Order_Date'], errors='coerce', dayfirst=True)

Filling missing values

In [12]:
df['Size'] = df['Size'].fillna(df['Size'].mode()[0])

In [13]:
df['Units_Sold'] = df['Units_Sold'].fillna(df['Units_Sold'].median())

In [14]:
df['MRP'] = df['MRP'].fillna(df['MRP'].median())

In [15]:
df['Discount_Applied'] = df['Discount_Applied'].fillna(0)

Cleaning

In [16]:
# 1. Strip spaces and fix casing
cat_cols = ['Gender_Category', 'Product_Line', 'Product_Name', 
            'Size', 'Sales_Channel', 'Region']

for col in cat_cols:
    df[col] = df[col].astype(str).str.strip().str.title()

# 2. Optional: Standardize Region (if needed)
df['Region'] = df['Region'].replace({
    'Hyd': 'Hyderabad',
    'Banglore': 'Bengaluru',
    'Bengaluru ': 'Bengaluru',
})

# 3. Optional: Standardize Gender Category
df['Gender_Category'] = df['Gender_Category'].replace({
    'Mens': 'Men',
    'Womens': 'Women',
    'Kids ': 'Kids'
})

In [17]:
print(df['Region'].unique())
print(df['Gender_Category'].unique())
print(df['Product_Line'].unique())

['Bengaluru' 'Hyderabad' 'Mumbai' 'Pune' 'Delhi' 'Bangalore' 'Hyderbad'
 'Kolkata']
['Kids' 'Women' 'Men']
['Training' 'Soccer' 'Lifestyle' 'Running' 'Basketball']

In [18]:
df.drop_duplicates(inplace=True)

Calculations

In [22]:
df['Discounted_Price'] = df['MRP'] * (1 - df['Discount_Applied'])

In [23]:
df['Calc_Revenue'] = df['Units_Sold'] * df['Discounted_Price']

In [24]:
df['Profit_Margin'] = df['Profit'] / df['Calc_Revenue']

In [25]:
cat_cols = ['Gender_Category', 'Product_Line', 'Product_Name',
            'Size', 'Sales_Channel', 'Region']

for col in cat_cols:
    df[col] = df[col].astype('category')

In [26]:
print(df.info())
print(df.head())
print(df.describe(include='all'))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order_ID          2500 non-null   int64
 1   Gender_Category   2500 non-null   category
 2   Product_Line      2500 non-null   category
 3   Product_Name      2500 non-null   category
 4   Size              2500 non-null   category
 5   Units_Sold        2500 non-null   float64
 6   MRP               2500 non-null   float64
 7   Discount_Applied  2500 non-null   float64
 8   Revenue           2500 non-null   float64
 9   Order_Date        228 non-null    datetime64[ns]
 10  Sales_Channel     2500 non-null   category
 11  Region            2500 non-null   category
 12  Profit            2500 non-null   float64
 13  Discounted_Price  2500 non-null   float64
 14  Calc_Revenue      2500 non-null   float64
 15  Profit_Margin     2500 non-null   float64
dtypes: category(6), datetime64[ns](1), float64(8), int64(1)
memory usage: 212.0 KB
None
   Order_ID Gender_Category Product_Line    Product_Name Size  Units_Sold  \
0      2000            Kids     Training     Superrep Go    M         2.0
1      2001           Women       Soccer   Tiempo Legend    M         3.0
2      2002           Women       Soccer     Premier Iii    M         4.0
3      2003            Kids    Lifestyle      Blazer Mid    L         2.0
4      2004            Kids      Running  React Infinity   Xl         2.0

       MRP  Discount_Applied  Revenue Order_Date Sales_Channel     Region  \
0  6110.03              0.47      0.0 2024-09-03        Online  Bengaluru
1  4957.93              0.00      0.0 2024-09-07        Retail  Hyderabad
2  6110.03              0.00      0.0        NaT        Retail     Mumbai
3  9673.57              0.00      0.0        NaT        Online       Pune
4  6110.03              0.00      0.0        NaT        Retail      Delhi

    Profit  Discounted_Price  Calc_Revenue  Profit_Margin
0  -770.45         3238.3159     6476.6318      -0.118958
1  -112.53         4957.9300    14873.7900      -0.007566
2  3337.34         6110.0300    24440.1200       0.136552
3  3376.85         9673.5700    19347.1400       0.174540
4   187.89         6110.0300    12220.0600       0.015376
           Order_ID Gender_Category Product_Line Product_Name  Size  \
count   2500.000000            2500         2500         2500  2500
unique          NaN               3            5           20    10
top             NaN            Kids     Training  Superrep Go     L
freq            NaN             841          546          148  1023
mean    3194.352400             NaN          NaN          NaN   NaN
min     2000.000000             NaN          NaN          NaN   NaN
25%     2534.750000             NaN          NaN          NaN   NaN
50%     3192.500000             NaN          NaN          NaN   NaN
75%     3841.250000             NaN          NaN          NaN   NaN
max     4499.000000             NaN          NaN          NaN   NaN
std      749.972638             NaN          NaN          NaN   NaN

         Units_Sold          MRP  Discount_Applied       Revenue  \
count   2500.000000  2500.000000       2500.000000   2500.000000
unique          NaN          NaN               NaN           NaN
top             NaN          NaN               NaN           NaN
freq            NaN          NaN               NaN           NaN
mean       1.738000  6075.058964          0.210004    274.873716
min       -1.000000  2006.630000          0.000000  -7561.590000
25%        1.000000  6110.030000          0.000000      0.000000
50%        2.000000  6110.030000          0.000000      0.000000
75%        2.000000  6110.030000          0.320000      0.000000
max        4.000000  9996.220000          1.250000  37169.350000
std        1.234328  1634.905596          0.364519   2023.773550

                           Order_Date Sales_Channel Region       Profit  \
count                             228          2500   2500  2500.000000
unique                            NaN             2      8          NaN
top                               NaN        Online  Delhi          NaN
freq                              NaN          1255    438          NaN
mean    2024-08-16 04:56:50.526315776           NaN    NaN  1376.012848
min               2023-01-08 00:00:00           NaN    NaN -1199.450000
25%               2024-03-10 18:00:00           NaN    NaN    93.532500
50%               2024-09-03 00:00:00           NaN    NaN  1371.385000
75%               2025-02-03 06:00:00           NaN    NaN  2660.645000
max               2025-12-04 00:00:00           NaN    NaN  3999.210000
std                               NaN           NaN    NaN  1478.671013

        Discounted_Price  Calc_Revenue  Profit_Margin
count        2500.000000   2500.000000    2500.000000
unique               NaN           NaN            NaN
top                  NaN           NaN            NaN
freq                 NaN           NaN            NaN
mean         4773.647560   8332.617004            NaN
min         -2328.098400  -9861.800000           -inf
25%          3010.730525   1344.206600      -0.026306
50%          6110.030000   9155.519200       0.110179
75%          6110.030000  12220.060000       0.288297
max          9996.220000  39984.880000            inf
std          2627.246739   8088.055938            NaN

C:\Users\Xpro\anaconda3\Lib\site-packages\numpy\_core\_methods.py:53: RuntimeWarning: invalid value encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)